<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <form action="#" th:action="@{/bookings}" th:object="${booking}" method="post">
        <p>
            Projekt: <select th:field="*{projectId}">
            <option th:each="var : ${projects}"
                    th:value="${var.id}"
                    th:text="${var.name}">Projektname
            </option>
        </select>
        </p>
        <p>Beschreibung: <input type="text" th:field="*{description}" autofocus required/></p>
        <p>Stunden: <input type="text" th:field="*{hours}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>