<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <title>3skills.time</title>
</head>
<body>
<div th:insert="~{fragments/header :: menu}"></div>
<div th:include="this :: content"/>
<div th:insert="~{fragments/footer :: copy}"></div>
</body>
</html>