<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <body>
        <div th:fragment="content">
            <table>
                <tr th:each="prod: ${projects}">
                    <td th:text="${prod.name}"></td>
                    <td>
                        <span th:each="ops: ${prod.operations}">
                            <a th:href="@{${ops.href}}"><span th:text="${ops.rel}"></span></a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>