<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <body>
        <div th:fragment="content">
            <h1>Neues Projekt</h1>
            <form action="#" th:action="@{/projects}" th:object="${project}" method="post">
                <p>Name: <input type="text" th:field="*{name}" autofocus="true" /></p>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </body>
</html>